<!DOCTYPE html>
<html lang="en" data-ng-app="auction" ng-controller="@@controller">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">
    @@include('./images.html')
    <meta name="msapplication-TileColor" content="#9aba13">
    <meta name="msapplication-TileImage" content="mstile-144x144.png">

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/esco/static/css/bundle.css" rel="stylesheet">

    @@if (name == 'tender') {
        @@include('./title.html')
    }
    @@if (name == 'index'|| name == 'archive') {
        <title>@@title</title>
    }
    <script>
      var db_url = '@@db_url';
    </script>


  </head>
<body ng-cloak>
    @@if (name == 'index') {
        @@include('./index.html')
    }
    @@if (name == 'archive') {
        @@include('./archive.html')
    }
    @@if (name == 'tender') {
        @@include('./tender.html')
    }

    @@for (var scr in scripts) {
        <script src="`+scripts[scr]+`"></script>
    }
  </body>
</html>
