<!DOCTYPE html>
<html lang="en" data-ng-app="auction">
  <head>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="favicon-192x192.png" sizes='192x192'>
    <link rel="icon" type="image/png" href="favicon-160x160.png" sizes='160x160'>
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes='96x96'>
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes='16x16'>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes='32x32'>
    <meta name="msapplication-TileColor" content="#9aba13">
    <meta name="msapplication-TileImage" content="mstile-144x144.png">
    <style type="text/css">
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
      }
    </style>
    <!-- Google Tag Manager -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="bundle.css" rel="stylesheet">
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5QJXWB"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5QJXWB');</script>
    <title>Auction Software</title>
    <!-- End Google Tag Manager -->
  </head>
  <body ng-cloak >
    <noscript>
      For full functionality of this site it is necessary to enable JavaScript.
      Here are the http://www.enable-javascript.com
      instructions how to enable JavaScript in your web browser.
    </noscript>
    <div class="container" ng-cloak>
      <div class="list-group" ng-controller="ListingController" >
        <div
          class="list-group-item text-center"
          ng-repeat="auction in auctions">
          <a href="{{auction._id}}">
            <h4 class="list-group-item-heading"> Тендер {{ auction.doc.tenderID }} </h4>
          </a>
          <p class="list-group-item-text">
            Час початку: {{ auction.doc.stages[0].start }}
          </p>
        </div>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
