<title
  ng-bind-template="{{ time_in_title }} {{ info_timer.msg|translate}} - {{ title_ending }}"
  ng-if="!info_timer.start_time" >     
        Аукціон
    </title>
<title
  ng-bind-template="{{ $root.info_timer.msg|translate}} {{ format_date($root.info_timer.start_time, lang,'Do MMMM YYYY') }} {{'at'|translate}} {{ format_date($root.info_timer.start_time, lang,'HH:mm') }} - {{ title_ending }}"
  ng-if="(!$root.info_timer.countdown)&&($root.info_timer.start_time != true)" ></title>
<title
  ng-bind-template="{{ $root.info_timer.msg|translate}} - {{ title_ending }}"
  ng-if="(!$root.info_timer.countdown)&&(info_timer.start_time == true)" ></title>
